div ul li:hover, .bar-icons:hover, .delete:hover{
    cursor: pointer;
    background: rgb(165, 149, 240);
}

.user-illustarator {
    margin: -1rem;
}

input:read-write{
    outline: none;
}

#overlay{
    opacity: 0.5;
}

nav:focus-visible body{
    position: fixed;
}
.fixedDiv{
    top: 80px;
}
i span{
    font-size: 10px;
    background: red;

}
.visible{
    visibility: visible;
}

@media(max-width: 500px){
    .fixedDiv{
        right: 0;
    } 
}